* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.cards-container {
    --cards-gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--cards-gap);
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.card {
    background-color: #f2f1ed;
    border-radius: 4px;
    padding: 16px;
    min-width: 280px;
    max-width: 320px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc((100% - 2 * var(--cards-gap)) / 3);
}

.card-top {
    flex: 1;
}

.card-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #26251e;
    margin-bottom: 8px;
}

.card-price {
    font-size: 22px;
    color: rgba(38, 37, 30, 0.5);
    display: inline-flex;
    align-items: baseline;
}

.card-price-amount {
    font-size: 22px;
    color: rgba(38, 37, 30, 0.5);
    font-weight: 400;
    margin-bottom: 24px;
}

.card-price-frequency {
    font-size: 14px;
    color: rgba(38, 37, 30, 0.5);
    margin-bottom: 24px;
}
.card-content {
    margin-bottom: 32px;
}

.includes-text {
    font-size: 16px;
    color: #26251e;
    margin: 16px 0px;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
    color: #26251e;
}

.checkmark {
    color: #26251e;
    font-size: 14px;
    margin-right: 10px;
    font-weight: regular;
}

.download-button {
    width: fit-content;
    margin-top: auto;
    background-color: #e6e5e0;
    border: none;
    border-radius: 999px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.download-button:hover {
    background-color: #D8D6CE;
}

.download-button:active {
    background-color: #D8D6CE;
}
